body{
    margin: 0;
    padding: 0;
}
#logo-img{
    width: 5rem;
}
.header{
    display: flex;
    justify-content: space-between;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJepniRP5xgiBlkyhBFwo_YtrYNlOsMMYhkQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size:20rem; */
    background-color: rgb(52, 29, 67);
    padding: 1rem 2rem 1.2rem 2rem;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(239, 229, 233);
    padding: 2rem;
}
.signup{
    display: flex;
    flex-direction: column;
    flex-basis: 25rem;
}
form {
    padding: 2%;
    border: #798479 solid;
}
form h1{
    color: rgb(193, 78, 234);
    font-size: xx-large;
    margin: 10px;
}
input{
    padding: 2%;
    width: 90%;
    border-radius: 13px 13px 13px 13px;
    border: solid ;
    margin: 2%;
}
.welcome{
    text-align: center;
}
.button{
    text-align: center;
    margin: auto;
    width: 40%;
    background-color: #4CAF50;
    cursor: pointer;
}
.sign-buttons{
    display: flex;
    justify-content: space-between;
}
p{
    display: none;
    color: red;
    font-size: smaller;
    margin-top: 0%;
    padding-left: 2%;
}