*{
    margin: 0%;
}
.container{
    background-color: rgb(239, 229, 233);
    background-size:100%;
}
.header{
    display: flex;
    justify-content: space-around;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJepniRP5xgiBlkyhBFwo_YtrYNlOsMMYhkQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size:20rem; */
    background-color: rgb(52, 29, 67);
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 20px;
}
.logo-and-others{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-grow: 10;
}

#logo-img{
    width: 5rem;
}
.signup-and-products{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}
a{
    padding: 2%;
    text-decoration: none;
    color: rgb(231, 199, 199);
}
.search-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.click-button {
    display: flex;
    justify-content: center;
}
#find-product, #submit{
    
    font-weight: bold;
    padding: 1%;
    margin: 0.1rem;
}
#search{
    border: 0;
    padding: 0.3rem;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.product-data{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-detail{
    display: flex;
    flex-basis: 20rem;
    flex-direction: column;
    border-radius:17px;
    margin: 1rem;
}
.product-detail:hover{
    box-shadow: 0rem 0rem 1rem 0rem black;
}

.product-img-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid gray ;
}

.product-img{
    width: 60%;
    height: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    object-fit:scale-down
}
.product-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    background-color:white;
    color: black;
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 0px 0px 10px 10px;
}
.rating-count{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.loader{
    padding-top: 10%;
    padding-bottom: 30%;
    margin: auto;
    display: none;
}
.custom-loader {
    margin: auto;
    width: 10rem;
    height: 10rem;
    display: grid;
}
.custom-loader::before,
.custom-loader::after {    
    content:"";
    grid-area: 1/1;
    --c: radial-gradient(farthest-side,#766DF4 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    animation: s2 1s infinite;
}
.custom-loader::before {
  margin:8px;
  filter:hue-rotate(45deg);
  background-size: 16px 16px;
  animation-timing-function: linear
}

@keyframes s2{ 
  100%{transform: rotate(.5turn)}
}